/* do not group these rules */
*::-webkit-input-placeholder {
    color: #EEEEEE;
    font-family:"Exo", sans-serif;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #EEEEEE;
    font-family:"Exo", sans-serif;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #EEEEEE;
    font-family:"Exo", sans-serif;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #EEEEEE;
    font-family:"Exo", sans-serif;
}

body {
	margin:0;
	background-color:#DDDDDD;
	font-family:"Exo", sans-serif;
	-webkit-transition: background-color 240s; /* Safari */
    transition: background-color 240s;
}

h1 {
	text-align:center;
	display:block;
}

#openingScreen {
	width:100%;
	height:100%;
	background-color: #0000FF;
	color:#FFFFFF;
	display:inline-flex;
}

#openingScreen div {
	font-size:48px;
	margin:auto auto;
	text-align: center;
}

#openingScreen div span {
	display:block;
	margin:0;
	padding:0;
}

#openingScreen div img {
	width:350px;
	-webkit-filter: drop-shadow(1px 5px 3px #000000);
}

#clickStart {
	font-size:0.5em;
}

#questionContainer {
	display:none;
	width:100%;
	height:100%;
}

#questionContainer > div:nth-child(1) {
	margin:auto;
}

#containerQ {
	border:1px solid black;
	width:350px;
	border-radius:10px;
	background-color:#FFFFFF;
	padding:10px;
}

#question {
	font-size:1.5em;
	margin-bottom:1em;
}

#options div {
	border-radius:10px;
	padding:20px;
	background-color:#4444FF;
	margin-bottom:20px;
	color:#EEEEEE;
	-webkit-transition: background-color 0.2s,color 0.2s; /* Safari */
    transition: background-color 0.2s,color 0.2s;
}

#options div:hover {
	background-color:#0066FF;
	color:#FFFFFF;
}

#options div:last-child {
	margin-bottom:5px;
}

#userInput {
	background-color:transparent;
	border:none;
	color:#EEEEEE;
	width:275px;
	font-size:1em;
}

#userInput:focus {
	border:none;
	border-bottom:1px solid #AAAAAA;
	outline: none;
}

#progressBar {
	height:10px;
	border-radius: 5px;
	width:100%;
	background-color:#AAAAAA;
	margin-top:12px;
}

#progress {
	border-radius: 5px;
	height:10px;
	background-color: #DDDDDD;
}

#results {
	display:none;
	margin:0 auto;
	width:500px;
	background-color:#FFFFFF;
	border-radius: 10px;
	padding:10px;
	border:1px solid #000000;
}

#results .question {
	border-bottom:1px solid #000000;
	margin-bottom:60px;
}

#results .question:last-child {
	border-bottom:none;
	margin:0;
}

#identity {
	text-align:center;
}